body {
  background-color: white;
  font-family: "raleway", Arial, Helvetica, sans-serif;
  color: black;
}

.blocpage {
  width: 1440px;
  height: 1880px;
  margin: auto;
}

.logo {
  height: 39px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

.logo2 {
  margin: 0;
  margin-top: -12px;
  margin-left: 23px;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header2 {
  display: flex;
  justify-content: right;
  margin-right: 77px;
}

.headerh1 {
  font-size: 1.2rem;
  margin-left: 75px;
  font-weight: bolder;
}

.headerh2 {
  font-size: 1rem;
  margin-left: 75px;
  font-weight: 600;
}

.header2h3 {
  margin-left: 70px;
  margin-top: 50px;
}
.headerrecherche
{
  margin-left: 75px;
  position: absolute;
}

input
{
  position: relative;
  display: inline-block;
  font-size: 15px;
}

input[type="search"]
{
  background: white;
  width: 234px;
  height: 50px;
  border: 1px solid #f2f2f2;
  outline: none;
  font-weight: bold;
  color: black;
  padding: 0 18px;
}
input[type="submit"]
{
  background:#0065FC;
  width: 134px;
  height: 50px;
  border: 1px solid #0065FC;
  outline: none;
  padding: 0 18px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  left: -5px;
}
i[class="fas fa-map-marker-alt"]
{
  background:#f2f2f2;
  width: 50px;
  height: 50px;
  border: 1px solid #f2f2f2;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  right: -5px;
  bottom: 15px;
  position: relative;
}

.headerfiltre
{
  margin-top: 78px;
  margin-bottom: 33px;
  margin-left: 75px;
}
.headerinfo
 {
   margin-left: 75px;
   margin-bottom: 20px;
   margin-left: 75px;
 }
.hebergement1 {
  display: flex;
  justify-content: center;
  height: 626px;
  width: 880px;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 22px;
  margin-left: 40px;
}

.hebergement1image {
  margin-top: 7px;
  margin-left: 7px;
  height: 116px;
  width: 230px;
  border-radius: 22px 22px 0px 0px;
}

.hebergement1h1 {
  height: 5px;
  width: 800px;
  text-align: left;
  margin: 0%;
  margin-top: 34px;
  margin-left: -22px;
  font-weight: bolder;
}

.hebergement1block {
  border-radius: 22px;
  background-color: white;
  height: 198px;
  width: 244px;
  margin-right: 31px;
  text-align: left;
  box-shadow: 0px 6px 22px rgb(206, 194, 183);
}

.hebergement1footer {
  width: 700px;
  text-align: left;
  margin: 0;
}

.hebergement2 {
  display: flex;
  justify-content: center;
  height: 626px;
  width: 421px;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 22px;
  margin-left: 35px;
}

.hebergement2h1 {
  display: flex;
  width: 357px;
  justify-content: space-between;
  height: 21px;
  margin: auto;
  margin-bottom: 35px;
  position: relative;
}

.hebergement2logoh1 {
  margin-right: 21px;
}


.hebergement2block {
  border-radius: 22px;
  background-color: white;
  height: 145px;
  width: 345px;
  margin-right: 20px;
}

.hebergement2images {
  margin-top: 5px;
  margin-left: 5px;
  height: 135px;
  width: 129px;
  border-radius: 22px 0px 0px 22px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 1rem;
}

.activitescontainer1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 530px;
  width: 1376px;
  margin: 0;
  margin-left: 76px;
  flex-wrap: wrap;
  margin-top: 37px;
}

.activites1h1 {
  position: relative;
  margin-top: -20px;
  margin-left: 10px;
}


.activites1:nth-child(2) {
  height: 446px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 6px 15px #f2f2f2;
}
.activites1img1 {
  height: 391px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}



.activites1:nth-child(3) {
  height: 235px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 3px 15px #f2f2f2;
  margin-top: 21px;
}
.activites1img2 {
  height: 182px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}


.activites1:nth-child(4) {
  height: 166px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 6px 15px #f2f2f2;
  margin-top: 46px;
}

.activites1img3 {
  height: 110px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.activites1:nth-child(5)
{
  height: 446px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 6px 15px #f2f2f2;
  margin-top: 19px;
}

.activites1img4
{
  height: 391px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}
.activites1:nth-child(6)
{
  height: 195px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 6px 15px #f2f2f2;
  margin-top: 22px;
}
.activites1img5
{
  height: 140px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.activites1:nth-child(7)
{
  height: 195px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 0px 6px 15px #f2f2f2;
  margin-top: 55px;
}
.activites1img6
{
  height: 140px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}
.footer {
  display: flex;
  height: 217px;
  width: 98%;
  justify-content: left;
  flex-direction: row;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 61px;
  margin-left: 45px;
}
.footerdiv1
{
  margin-left: 33px;
  flex: 1;
}
.footerlist1
{
  list-style: none;
  padding: 0;
}
.footerdiv2
{
  flex: 1;
}
.footerlist2
{
  list-style: none;
  padding: 0;
}
.footerdiv3
{
  flex: 1;
}
.footerlist3

{
  list-style: none;
  padding: 0;
}