body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: black;
}

.blocpage {
  width: 1440px;
  height: 1880px;
  margin: auto;
}

.logo {
  height: 39px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
}

.logo2 {
  margin: 0;
  margin-top: -12px;
  margin-left: 23px;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header2 {
  display: flex;
  justify-content: right;
  margin-right: 77px;
}

.headerh1 {
  font-size: 1.2rem;
  margin-left: 75px;
  font-weight: 700;
}

.headerh2 {
  font-size: 0.9rem;
  margin-left: 75px;
  font-weight: 500;
}

.header2h3 {
  margin-left: 70px;
  margin-top: 50px;
}

a.header2h3link {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

a.header2h3link:hover {
  text-decoration: overline;
  color: #0065FC;
  font-weight: 500;
  font-size: 1rem;
}

a.header2h3link2 {
  color: #0065FC;
  font-size: 1rem;
  font-weight: 700;
}

a.header2h3link2:hover {
  color: #0065FC;
  font-size: 1rem;
  font-weight: 700;
}

.headerrecherche {
  margin-left: 71px;
  position: absolute;
}

input {
  position: relative;
  display: inline-block;
  font-size: 15px;
}

input[type="search"] {
  background: white;
  width: 234px;
  height: 50px;
  border: 1px solid #f2f2f2;
  outline: none;
  font-weight: bold;
  color: black;
  padding: 0 18px;
}

input[type="submit"] {
  background: #0065FC;
  width: 134px;
  height: 50px;
  border: 1px solid #0065FC;
  outline: none;
  padding: 0 18px;
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  left: -5px;
}

i[class="fas fa-map-marker-alt"] {
  background: #f2f2f2;
  width: 50px;
  height: 48px;
  border: 1px solid #f2f2f2;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  right: -5px;
  bottom: 15px;
  position: relative;
}

.headerfiltre {
  margin-top: 78px;
  margin-bottom: 0px;
  margin-left: 75px;
}

#headerparafiltre {
  margin-right: 12px;
  font-weight: bold;

}

.headerinfotext {
  font-size: 0.9rem;
  font-weight: 300;
}

button {
  background: none;
  width: 190px;
  height: 50px;
  border: 3px solid #f2f2f2;
  outline: none;
  padding: 0 18px;
  border-radius: 40px 40px 40px 40px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  top: -2px;
  right: 37px;
  position: relative;
  z-index: 1;
  margin-right: -33px;
  text-align: end;
  font-size: 1.1rem;
  font-family: 'raleway', sans-serif;
}

.buttonfamilial {
  width: 150px;
}

i[class="fas fa-money-bill-wave"] {
  background: #DEEBFF;
  width: 50px;
  height: 48px;
  border: 1px solid #DEEBFF;
  outline: none;
  border-radius: 40px 40px 40px 40px;
  color: #0065FC;
  position: relative;
  right: -19px;
  top: -18px;
  z-index: 2;
  cursor: pointer;
}

i[class="fas fa-child"] {
  background: #DEEBFF;
  width: 50px;
  height: 48px;
  border: 1px solid #DEEBFF;
  outline: none;
  border-radius: 40px 40px 40px 40px;
  color: #0065FC;
  position: relative;
  right: -19px;
  top: -18px;
  z-index: 2;
  cursor: pointer;
}

.buttonromantique {
  width: 184px;
}

i[class="fas fa-heart"] {
  background: #DEEBFF;
  width: 50px;
  height: 48px;
  border: 1px solid #DEEBFF;
  outline: none;
  border-radius: 40px 40px 40px 40px;
  color: #0065FC;
  position: relative;
  right: -19px;
  top: -18px;
  z-index: 2;
  cursor: pointer;
}

.buttonanimaux {
  width: 244px;
}

i[class="fas fa-dog"] {
  background: #DEEBFF;
  width: 50px;
  height: 48px;
  border: 1px solid #DEEBFF;
  outline: none;
  border-radius: 40px 40px 40px 40px;
  color: #0065FC;
  position: relative;
  right: -19px;
  top: -18px;
  z-index: 2;
  cursor: pointer;
}

.headerinfo {
  margin-left: 75px;
  margin-bottom: 20px;
}


.hebergement1 {
  display: flex;
  justify-content: space-evenly;
  height: 626px;
  width: 880px;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 22px;
  margin-left: 40px;
}

.hebergement1image {
  margin-top: 7px;
  margin-left: 7px;
  height: 116px;
  width: 230px;
  border-radius: 22px 22px 0px 0px;
}

.hebergement1h1 {
  height: 5px;
  width: 800px;
  text-align: left;
  margin: 0%;
  margin-top: 34px;
  margin-left: -4px;
  font-weight: 800;
}

.hebergement1block {
  border-radius: 22px;
  background-color: white;
  height: 198px;
  width: 244px;
  text-align: left;
  box-shadow: -1px 7px 16px rgb(217, 217, 217);
}

.herbergement1block,
h2 {
  font-size: 0.9rem;
  color: black;
  margin-top: 6px;
  margin-left: 17px;
}

.herbergement1block,
h3 {
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
  margin: 0;
  margin-left: 17px;
  margin-top: -8px;
}

.fa-star {
  color: gray;
  cursor: pointer;
  padding: 0.0625rem;
}

.fa-star.gold {
  color: #0065FC;
}


.rating {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 5px;
}

.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 0.8rem;
}


.stars:hover .fa-star {
  color: #0065FC;
}

.stars .fa-star:hover~.fa-star {
  color: gray;
}

.hebergement1footer {
  width: 700px;
  text-align: left;
  margin: 0;
  margin-left: -87px;
  font-weight: 800;
}

.hebergement2 {
  display: flex;
  justify-content: center;
  height: 626px;
  width: 421px;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 22px;
  margin-left: 35px;
}

.hebergement2h1 {
  display: flex;
  width: 357px;
  justify-content: space-between;
  height: 21px;
  margin: auto;
  margin-bottom: 35px;
  position: relative;
}

.hebergement2logoh1 {
  margin-right: 21px;
}


.hebergement2block {
  border-radius: 22px;
  background-color: white;
  height: 145px;
  width: 345px;
  margin-right: 20px;
}

.hebergement2images {
  margin-top: 5px;
  margin-left: 5px;
  height: 135px;
  width: 129px;
  border-radius: 22px 0px 0px 22px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 1rem;
}

.activitescontainer1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 530px;
  width: 1376px;
  margin: 0;
  margin-left: 76px;
  flex-wrap: wrap;
  margin-top: 37px;
}

.activites1h1 {
  position: relative;
  margin-top: -20px;
  margin-left: 10px;
  font-weight: 800;
}

.activitesh2 {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 800;
}

.activites1:nth-child(2) {
  height: 446px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
}

.activites1img1 {
  height: 391px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}



.activites1:nth-child(3) {
  height: 235px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
  margin-top: 21px;
}

.activites1img2 {
  height: 182px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}


.activites1:nth-child(4) {
  height: 166px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
  margin-top: 46px;
}

.activites1img3 {
  height: 110px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.activites1:nth-child(5) {
  height: 446px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
  margin-top: 19px;
}

.activites1img4 {
  height: 391px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.activites1:nth-child(6) {
  height: 195px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
  margin-top: 22px;
}

.activites1img5 {
  height: 140px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.activites1:nth-child(7) {
  height: 195px;
  width: 300px;
  border-radius: 22px;
  box-shadow: 2px 2px 15px 4px #f2f2f2;
  margin-top: 55px;
}

.activites1img6 {
  height: 140px;
  width: 300px;
  border-radius: 22px 22px 0px 0px;
}

.footer {
  display: flex;
  height: 217px;
  width: 100%;
  justify-content: left;
  flex-direction: row;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 61px;
  margin-left: 45px;
}

.footerh2 {
  margin-left: 0px;
  margin-top: 44px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footerdiv1 {
  margin-left: 39px;
  flex: 1;
}

.footerlist1 {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footerlisteli {
  margin-top: 10px;
}

.footerdiv2 {
  flex: 1;
}

.footerlist2 {
  list-style: none;
  padding: 0;
}

.footerdiv3 {
  flex: 1;
}

.footerlist3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  text-decoration: none;
  color: black;
}